@model FitnessTracker.Models.Routine

<h4>Add a new routine</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new {@required="required"})

  @Html.LabelFor(model => model.RoutineDescription)
  @Html.EditorFor(model => model.RoutineDescription, new {@required="required"})

  @Html.Label("Select gym")
  @Html.DropDownList("GymId")

  <button class="btn" type="submit">Add new routine</button>
}