@model FitnessTracker.Models.Routine

<h2>Routine Details</h2>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.RoutineDescription): @Html.DisplayFor(model => model.RoutineDescription)</h3>
<h3>@Html.DisplayNameFor(model => model.Gym.Location): @Html.DisplayFor(model => model.Gym.Location)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This routine has no members signed up</p>
}
else
{
  <h3>Routine members:</h3>
  <h4>Current members:</h4>
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      @if (!join.Complete)
      {
        <li>@join.Member.Name</li>
      }
    }
  </ul>
}

<p class="bottom-link">@Html.ActionLink("Edit routine", "Edit", new { id = Model.RoutineId })</p>
<p class="bottom-link">@Html.ActionLink("Delete routine", "Delete", new { id = Model.RoutineId })</p>