@model FitnessTracker.Models.Routine

<h4>Edit this routine: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RoutineId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.RoutineDescription)
  @Html.EditorFor(model => model.RoutineDescription)

  @Html.Label("Select gym")
  @Html.DropDownList("GymId")

  <button class="btn" type="submit">Edit routine</button>
}