@model FitnessTracker.Models.Member

<h2>Member Details</h2>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.StartDate): @Html.DisplayFor(model => model.StartDate)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This member is not signed up for any routines</p>
}
else
{
  <h4>Routines</h4>
  <p class="bottom-link">@Html.ActionLink("See All Routines", "Details", new { id = Model.MemberId })</p>
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      @if (join.Complete)
      {
        <li>@join.Routine.Name</li>
      }
    }
  </ul>
}


<p class="bottom-link">@Html.ActionLink("Add Routine", "AddRoutine", new { id = Model.MemberId })</p>
<p class="bottom-link">@Html.ActionLink("Edit member", "Edit", new { id = Model.MemberId })</p>
<p class="bottom-link">@Html.ActionLink("Delete member", "Delete", new { id = Model.MemberId })</p>