@model FitnessTracker.Models.Member

<h2>Member Details</h2>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h4>@Html.DisplayNameFor(model => model.StartDate): @Html.DisplayFor(model => model.StartDate)</h4>


@if (@Model.JoinEntities.Count == 0)
{
  <p>This member is not signed up for any routines</p>
}
else
{
  <p id="member-details-filter">@Html.ActionLink("See completed routines only", "CompletedDetails", new { id = Model.MemberId })</p>
  <h4>Routines:</h4>
  <ul id="member-details-li">
    @foreach (var join in Model.JoinEntities)
    {
      <li class="member-details-li">
        @join.Routine.Name
        @if (join.Complete)
        {
          <p id="completed">Completed</p>
        }
        else
        {
          <p id="incomplete">Incomplete</p>
        }
        @using (Html.BeginForm("DeleteRoutine", "Members"))
        {
          @Html.Hidden("joinId", @join.MemberRoutineId)
          <input type="submit" value="Delete" />
        }
        @using (Html.BeginForm("SwitchCompleted", "Members"))
        {
          @Html.Hidden("joinId", @join.MemberRoutineId)
          <input type="submit" value="Toggle Completed">
        }
      </li>
    }
  </ul>
}

<p class="bottom-link">@Html.ActionLink("Add routine", "AddRoutine", new { id = Model.MemberId })</p>
<p class="bottom-link">@Html.ActionLink("Edit member", "Edit", new { id = Model.MemberId })</p>
<p class="bottom-link">@Html.ActionLink("Delete member", "Delete", new { id = Model.MemberId })</p>